.footer {
  background: rgba(26, 30, 72, 1);
  padding: 32px;
}

.footerContainer {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
