.banner {
  width: 100%;
  padding: 100px 0 150px 0;
}

.banner2 {
  width: 100%;
  padding-bottom: 80px;
}

.banner3 {
  width: 100%;
  background-color: white;
  padding-bottom: 80px;
}

.banner4 {
  width: 100%;
  background-color: rgba(242, 247, 255, 0.7);
}
